.main-container
  background-size: cover
  background-repeat: repeat

.canvas
  display: block
  position: absolute
  top: 0px
  left: 0px

.canvas.hidden
  display: none

.cryptoverse
  background-image: url('../images/bg-cryptoverse.png')

.galaxy
  background-image: url('../images/bg-galaxy.png')

.img-cryptoid
  border: 2px solid rgba(173, 216, 230, 0.5)
