@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap)

$galactic-font: 'Press Start 2P', cursive

.canvas-container
  background-size: cover
  background-repeat: repeat

.canvas
  display: block
  position: absolute
  top: 0px
  left: 0px

.canvas.hidden
  display: none

.app-bar
  font-family: $galactic-font
  font-size: 10pt
  .v-toolbar__content
    border-bottom: 2px solid #888
  .title
    font-family: $galactic-font !important
    font-size: 12pt !important
    color: orange
  .rocket-stats
    color: orange
    width: 100%
    .velocity-container
      height: 19px
      border: 2px solid lighten(orange, 25%)

.cryptoverse
  background-image: url('../images/bg-cryptoverse.png')

.galaxy
  background-image: url('../images/bg-galaxy.png')

.img-cryptoid
  border: 2px solid rgba(173, 216, 230, 0.5)

.inventory
  .card
    font-family: $galactic-font !important
    font-size: 8pt !important
    background-color: black
    border: 6px solid rgba(33, 150, 243, 0.7)
    .title
      font-family: $galactic-font !important
      font-size: 12pt !important
  .worlds
    display: flex
    overflow-x: auto
